@charset "utf-8";
/* page */

/*wrap */
	.wrap{
		padding-top:35%;
		}

	.wrap02{
		padding-top:20%;
		}

	.wrap03{
		padding-top:25%;
		}
/* ===== */

/*header 의 지역선택하기 영역*/
	header span{
			display: inline-block;
			width:30%;
			float:right;
			position: relative;
			text-align:left;
			margin-top:3%;
			border:1px solid #c20e58;
			box-sizing: border-box;
			font-weight: bold;
			background:url('/assets/images/temp/search.png') no-repeat  92% center;
			background-size:10%;
			padding: 1%;
			background-color: #fff;
			margin-right: 3%;
		}

	header span label{
			font-size:10px;
			color:#231b26;
		}

	header span select{
		width:100%;
		position: absolute;
		top:0;
		left: 0;
		background-color: transparent;
		color: transparent;
		border:0;
		border-radius: 0;
		outline: none
		}

	header span select option{
		color:#000;
		outline: none;
		}
/* ===== */

/*이미지 슬라이드 css*/
		.slide{
			padding:0;
			background-color:#ececec;
			}

		.bx-wrapper {
			position: relative;
			*zoom: 1;
			}

		.bx-wrapper img {
			max-width: 100%;
			display: block;
			}

		.bx-wrapper ul{
			padding:0;
			}

		.bx-wrapper .bx-viewport {
			position:fixed;
			width:100%;
		/*fix other elements on the page moving (on Chrome)*/
			-webkit-transform: translatez(0);
			-moz-transform: translatez(0);
		    -ms-transform: translatez(0);
		    -o-transform: translatez(0);
		    transform: translatez(0);
			}

		.bx-wrapper .bx-pager,
		.bx-wrapper .bx-controls-auto {
			position: absolute;
			width: 100%;
			bottom: 0;
			}

		.bx-wrapper .bx-loading {
			min-height: 50px;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2000;
			}

		.bx-wrapper .bx-pager {
			text-align: center;
			font-size: .85em;
			font-family: Arial;
			font-weight: bold;
			color: #666;
			padding-top: 20px;
			}

		.bx-wrapper .bx-pager .bx-pager-item,
		.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
			display: inline-block;
			*zoom: 1;
			*display: inline;
			}

		.bx-wrapper .bx-pager.bx-default-pager a {
			background:#fff;
			text-indent: -9999px;
			display: block;
			width: 7px;
			height: 7px;
			margin: 0 3px;
			outline: 0;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			}

		.bx-wrapper .bx-pager.bx-default-pager a:hover,
		.bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #c20e58;
			width: 12px;
			height: 7px;
			}

		.bx-wrapper .bx-prev {
			left: 10px;
			}

		.bx-wrapper .bx-next {
			right: 10px;
			}

		.bx-wrapper .bx-prev:hover {
			background-position: 0 0;
			}

		.bx-wrapper .bx-next:hover {
			background-position: -43px 0;
			}

		.bx-wrapper .bx-controls-direction a {
			position: absolute;
			top: 72%;
			margin-top: -16px;
			outline: 0;
			width: 32px;
			height: 32px;
			text-indent: -9999px;
			z-index: 9999;
			}

		.bx-wrapper .bx-controls-direction a.disabled {
			display: none;
			}

		.bx-wrapper .bx-controls-auto {
			text-align: center;
			}

		.bx-wrapper .bx-controls-auto .bx-start {
			display: block;
			text-indent: -9999px;
			width: 10px;
			height: 11px;
			outline: 0;
			margin: 0 3px;
			}

		.bx-wrapper .bx-controls-auto .bx-start:hover,
		.bx-wrapper .bx-controls-auto .bx-start.active {
			background-position: -86px 0;
			}

		.bx-wrapper .bx-controls-auto .bx-stop {
			display: block;
			text-indent: -9999px;
			width: 9px;
			height: 11px;
			outline: 0;
			margin: 0 3px;
			}

		.bx-wrapper .bx-controls-auto .bx-stop:hover,
		.bx-wrapper .bx-controls-auto .bx-stop.active {
			background-position: -86px -33px;
			}

		.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
			text-align: left;
			width: 80%;
			}

		.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
			right: 0;
			width: 35px;
			}

		.bx-wrapper .bx-caption {
			position: absolute;
			bottom: 30px;
			left: 0;
			background: #666\9;
			background: rgba(80, 80, 80, 0.75);
			width: 100%;
			}

		.bx-wrapper .bx-caption span {
			color: #fff;
			font-family: Arial;
			display: block;
			font-size: .85em;
			padding: 10px;
			}
/* ===== */

/*main_list 영역*/
		.main_list ul li{
			width:32%;
			margin-right:2%;
			margin-bottom:3%;
			float: left;
			}

		.main_list ul li:nth-child(3n){
			margin-right:0;
			}

		.main_list ul li:nth-child(4),
		.main_list ul li:nth-child(5),
		.main_list ul li:nth-child(6) {
			margin-bottom:0;
			}

		.main_list ul li a figure img{
			width:100%;
			margin-bottom:5%;
			border:1px solid #fff;
			border-radius: 5px;
			}

		.main_list ul li a figure figcaption{
			padding:0 3%;
			}

		.main_list ul li a figure figcaption h2{
			margin-bottom:3%;
			color:#c20e58;
			font-size: 13px;
			font-weight: bold;
			}

		.main_list ul li a figure figcaption p{
			font-size: 11px;
			padding-top: 1px;
			line-height: 14px;
		}
/* ===== */
	
/* 광고영역 */
	.ad{
		padding:0;
		}

	.ad a img{
		width:100%;
		}


/* ===== */	

/*업소 리스트*/
	.store_list ul li{
		width:49%;
		float: left;
		margin-right:2%;
		/*margin-bottom:3%;*/
		}

	.store_list ul li:nth-child(2n){
		margin-right:0;
		}

	.store_list ul li:nth-child(3),
	.store_list ul li:nth-child(4){
		margin-bottom:0;
		}

	.store_list ul li a figure{
		display: inline-block;
		width:100%;
		}

	.store_list ul li a figure img{
		width:100%;
		margin-bottom:5%;
		border:1px solid #ededed;
		box-sizing: border-box;
		display:block;
		}

	.store_list ul li a figure figcaption{
		padding:0 3%;
		box-sizing: border-box;
		}

	.store_list ul li a figure figcaption h2{
		color:rgb(194, 14, 88);
		margin-bottom:2%;
		/*font-size: 13px;*/
		font-weight: bold;
		/*height: 0.96em;*/
		white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*white-space: normal;
        word-wrap: break-word; 
        display: -webkit-box;
        -webkit-line-clamp: 1; -webkit-box-orient: vertical;
        */
        padding-top:2%;
		}

	.store_list ul li a figure figcaption p{
		white-space: nowrap;
		overflow: hidden;
		margin-bottom:5%;
		text-overflow: ellipsis;
		white-space: normal;
		height: 1.3em;
		text-align: left;
		word-wrap: break-word; 
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		font-size: 11px;
		padding-top: 1px;
		line-height: 14px;
		}

	.store_list ul li a figure figcaption span{
		margin-top:3%;
		display: block;
		white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
		font-size: 10px;
		font-weight: bold;
		}

	.store_list02 > .table-image > ul{
		margin-bottom:1.5% !important;
	}
	.store_list02 > .table-image > ul:last-child{
		margin-bottom: 0 !important;
	}

/* ===== */

/*업소 리스트 02*/
	.store_list02 ul li{
		width:100%;
		box-sizing: border-box;
		border:1px solid #ededed;
		margin-bottom:1.5%;
		padding:2%;
		padding-left: 35%;
		/*padding-top:3%;
		padding-bottom:3%;*/
		position: relative;
		background-size: 33% !important;

		/*background: url(../images/photo02.png) no-repeat left top;
		background-size: 38.5%*/
		}

		.store_list02 ul li input{
			position: absolute;
			top: 0;
			left: 0;
		}

	.store_list02 ul li:last-child{
		margin-bottom:0;
		}

	.store_list02 ul li a{
		/*padding:2%;
		padding-left: 41%;*/
		display:inline-block;
		width:100%;
		box-sizing: border-box;
		}

	.store_list02 ul li a h2{
		margin-bottom:3%;
		color:rgb(194, 14, 88);
		font-size: 14px;
		font-weight: bold;
		line-height: 16px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		}

	.store_list02 ul li a p{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 20px;
		text-align: left;
		word-wrap: break-word; 
		display: -webkit-box;
		-webkit-line-clamp: 2; -webkit-box-orient: vertical;
		font-size: 11px;
		padding-top: 1px;
		line-height: 14px;
		}


	.store_list02 ul li a span{
		float: right;
		/*margin-top:3%;*/
		font-size: 10px;
		font-weight: bold;
		}
/* ===== */

/* 로그인 팝업창 */
	.overlay{
		width:100%;
		height: 100%;
		background-color:rgba(0,0,0,0.5);
		position: fixed;
		right: 0;
		top:0;
		z-index: 100000;
		display: none;
		}

	#popup_layer{ 
		width:300px;
		margin:0 auto;
		background-color: #fff;
		border:solid 1px #ccc;
		position:absolute;
		padding:18px 10px 10px 10px;
		box-sizing: border-box;
		border-radius: 10px;
		box-shadow: 0px 1px 20px #333;
		z-index:200000;
		display: none;
		}

	#popup_layer > img {
		width:70%;
		margin-left:15%;
		}

	#popup_layer > h2 , .enter > h2{
		text-align:center;
		line-height: 18px;
		margin-bottom:3%
		}

	#popup_layer > h2 > span , .enter > h2 > span {
		display: block;
		margin-bottom:3%;
		font-size:18px; 
		color:#ee2c6c;
		}

	#popup_layer > h2 > span > img{
		width:20%;
		display: block;
		margin:0 auto 3%;
		}

	#popup_layer > .close {
		font-size:13px;
		}

	#popup_layer > .signup , .enter > .signup02 {
		width:100%;
		margin:0 auto;
		font-size:11px;
		display: inline-block;
		}

	#popup_layer > .login , .enter > .id{
		width:80%;
		height: 23px;
		margin:0 auto;
		margin-bottom:3%;
		position: relative;
		font-size:12px;
		}

	.enter > .id{
		width: 55%;
	}

	#popup_layer > .login > h3 , .enter > .id > h3{
		display: inline-block;
		font-size: 12px;
		position: absolute;
		width: 25%;
		height: 21px;
		line-height:20px;
		font-weight: bold;
		top: 4px;
		}

	#popup_layer >.login > .submit_btn , .enter > .id > .submit_btn{
		width:100%;
		height:25px;
		background-color: #231b26;
		border:none;
		border-radius: 3px
		}

	#popup_layer > .login > input[type="text"],
	.login > input[type="password"],
	.login > input[type="submit"],

	.id > input[type="submit"]{
		float:right;
		width:100%;
		line-height: 26px
		; height:25px;
		background-color: transparent;
		border:none;
		position: absolute;
		top:0; right:0;
		font-weight: bold;
		color:#fff;
		outline: none;
		font-size: 15px
		}

	#popup_layer > .login > input[type="checkbox"] {
		width:15px;
		height: 15px;
		text-align: center;
		position: relative;
		top: 2px;
		}


	#popup_layer > div:nth-child(5){
		height:25px;
		}

	#popup_layer > .signup > h4{
		text-align: center;
		line-height: 17px;
		}

	#popup_layer > .signup > p , .enter > .signup02 > p  {
		width:50%;
		text-align: center;
		font-size:11px;
		display: inline-block;
		float: left;
		border-right:1px solid #ededed;
		box-sizing: border-box;
		line-height: 13px;
		}

	#popup_layer > .signup > p:last-child , .enter > .signup02 > p:last-child{
		border:0;
		}

	#popup_layer > .signup > p > a , .enter > .signup02 > p > a {
		margin-top:5%;
		font-weight: bold;
		font-size:13px;
		display: block;
		}

	.close{
		position:absolute;
		top:15px;
		right: 15px;
		}
/* ===== */

/*my_info01 영역*/

	.my_info01 table{
		width:100%;
		border:1px solid #ededed;
		margin-bottom: 3%;
		}

	.my_info01 table tr{
		border:1px solid #ededed;
		}

	.my_info01 table tr td{
		border:1px solid #ededed;
		text-align: center;
		padding: 2.5% 0 2%;
		font-size:11px;
		line-height: 13px;
		}

	.my_info01 table tr td:first-child{
		width:20%;
		font-weight: bold;
		background-color: rgb(239, 208, 222);
		vertical-align: middle;
		}

	.my_info01 table tr td:last-child{
		padding-left:5%;
		text-align:left;
		}

	.my_info01 table tr td:last-child input{
		width:90%;
		border:1px solid #ededed;
		outline: none;
		font-size:10px;
		padding: 1.5% 0 1.5% 3%;
		border-radius: 0;
		box-shadow: none;
		display: block;
		}

	.my_info01 p{
		margin-bottom:1%;
		}

	.my_info01 button{
		width:20%;
		padding:1.5%;
		text-align: center;
		background-color: #231b26;
		color:#fff;
		border:0;
		/*font-weight: bold;*/
		font-size:12px;
		border-radius: 5px;
		float: right;
		outline: none;
		font-family: 'Jeju Gothic', sans-serif;
		}
	.my_info01 input{
		width:67%;
		box-shadow: none;
		box-sizing: border-box;
		border-radius: 0;
		padding:0.8% 0 0.8% 1%;
		font-size:10px;
		outline:none;
		}
	.my_info01 ul{
		margin-top: 5%;
		padding:0 5%;
	}

	.my_info01 ul li{
		padding:0 0.5%;
		border-bottom:1px solid #ededed;
	}

	.my_info01 ul span{
		float:right;
	}
/* ===== */

/*회원탈퇴하기 버튼*/
	.finish button, .finish a{
		width:40%; 
		text-align:center;
		padding:1.5%;
		color:#fff;
		background-color:#231b26;
		border:0;
		border-radius: 15px;
		font-size:14px;
		display: inline-block;
		font-weight: bold;
		float: right;
		outline: none;
		}

	.finish a{
		font-weight: normal;
		float:left;
	}
/* ===== */

/*탈퇴하기 경고메시지 영역*/
	.logout h2{
		width:100%;
		box-sizing: border-box;
		text-align:center;
		font-size:14px;
		color:rgb(194, 14, 88);
		font-weight: bold;
		margin-bottom: 3%;
		}

	.logout h2 img{
		width:25%;
		display: block;
		margin:0 auto 5%;
		}

	.logout h2 span{
		font-size:12px;
		font-weight: normal;
		color:#000;
		display: inline-block;
		margin-top:3%;
		line-height: 16px;
		}
/* ===== */

/*회원가입의 이용약관 영역 */
	.agree p , .agree pre {
		width:100%;
		height: 200px;
		border:1px solid #ededed;
		padding:3%;
		box-sizing: border-box;
		overflow-y: scroll;
		margin-bottom:3%;
		}


		

	.agree label{
		font-size:13px;
		vertical-align: middle;
		}

	.content div.document {
		width:100%;
		border:1px solid #ededed;
		padding:3%;
		box-sizing: border-box;
		overflow-y: scroll;
		font-size:13px;
		line-height: 13px
		}

/* ===== */

/*업소 정보의 이미지& 문구 */

	/*.store{
		margin-bottom: 0;
	}
	*/
	.store img{
		
		margin-bottom:0.5%;
		border:1px solid #ededed;
		box-sizing: border-box;
		}
	.store h2{
		line-height: 18px;
		padding-left: 3%;
		font-weight: normal;
		margin-bottom: 3%;
		}
	.store h2 span{
		font-size:15px;
		color:red;
		}
/* ===== */


/*업소후기 리스트 영역 */
	.list ul li{
		width:100%;
		box-sizing: border-box;
		border:1px solid #ededed;
		margin-bottom:1.5%;
		}

	.list ul li:nth-child(2n){
		background-color: #f8f2f5;
		}

	.list ul li a{
		padding:2%;
		display: inline-block;
		width:100%;
		box-sizing: border-box;	
		}

	.list ul li a h2{
		margin-bottom:2%;
		font-size: 13px;
		font-weight: bold;
		}

	.list ul li a p{
		padding-left:2%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		text-align: left;
		word-wrap: break-word; 
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-size: 11px;
		padding-top: 1px;
		line-height:14px;
		}

	.list ul li a span{
		float:right;
		}

	.list h3{
		font-size:13px;
		text-align:right;
		margin-bottom:2%;
		font-weight: bold;
		}
/* ===== */

/*후기 작성 영역*/
	.write figure{
		width:100%;
		padding: 0 1.5%;
		box-sizing: border-box;
		display: inline-block;
		background-color: #231b26;
		border-radius: 10px;
		}

	.write figure img{
		width: 10%;
		float: left;
		margin-left: 2.5%;
		}

	.write figure figcaption{
		color:#fff;
		width: 87%;
		font-size:14px;
		padding-top: 3%;
		display:inline-block; 
		}

	.write figure figcaption span{
		float:right;
		padding-top: 2%;
		padding-right: 5%;
		font-weight: normal;
		font-size: 11px;
		}

	label.text_title {
		float:left;
		margin-right:1%;
		width:18%;
		font-size:13px;
		padding:7px 0 1%;
		text-align: center;
		background-color:#231b26;
		box-sizing: border-box;
		border-radius: 6px;
		color:#fff;
		height: 24px;
		}

	input.text_title{
		width:79%;
		margin-top: 0.5%;
		padding:0.5% 0;
		border:1px solid #231b26;
		outline: none;
		background-color: #fff;
		font-size: 12px;
		box-sizing: border-box;
		padding-left: 1%;
		height: 22px;
		float: right;
		}

	.textarea textarea{
		width:100%;
		box-sizing: border-box;
		border:1px solid #231b26;
		height: 350px;
		max-width:100%;
		overflow-y: scroll;
		outline: none;
		padding: 3%;
		}

	.filebox input[type="file"]{
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border:0;
		}
/* ===== */


/*위치 확인 영역*/
	.store table{
		width:100%;
		float: left;
		}

	.store table tr td{
		border:1px solid #231b26;
		padding: 2% 1.5% 1.5% 2.5%;
		font-size: 13px;
		font-weight: normal;
		}

	.store table tr td:first-child{
		width:70%;
		}

	.store table tr td:last-child{
		width:15%;
		vertical-align: middle;
		padding:3% 1.5% 1.5% 2%;
		}

	.store table tr td input{
		width:80%;
		border:0;
		outline: none;
			}

	.store table tr td img{
		width: 6%;
		float: right;
		border:0;
		}

	.store button{
		margin-left:3%;
		padding:5.5% 0;
		box-sizing: border-box;
		float: right;
		font-weight: bold;
		border-radius: 0;
		background-color: #231b26;
		color:#fff;
		border:0;
	    }

	.store table tr:first-child td:last-child{
		background-color: #231b26;
		color:#fff;
		text-align: center;
		}

	.method table{
		width:100%;
		}

	.method table tr td{
		width:50%;
		border:1px solid #ededed;
		text-align: center;
		padding:1.5%;
		box-sizing: border-box;
		vertical-align: middle;
		font-size: 13px;
		}

	.method table tr td.active{
			background-color:rgb(239, 208, 222);
		}


	.method table tr td figure{
		width:100%;
		display: inline-block;
		}

	.method table tr td figure img{
		width:20%;
		vertical-align: middle;
		}

	.method table tr td figure figcaption{
		display: inline-block;
		}

	.method a img {
		width:100%;
		border:1px solid #ededed;
		}

	#formatedAddress{
		font-size: 13px;
		font-weight: normal;
	}
/* ===== */

/* 지도 영역*/
	.map{
		padding:0;
	}
	.map img{
		width:100%;
	}
/* ===== */




/* boyoon 추가 css */

	div.media div.media-body {
		border-bottom:1px solid #ededed;
		font-size:12px;
		
	}

	div.media div.media-body h4{
		padding:1.5% 0;
		font-size:12px;
		display: inline-block;
		float:right;
	}

	/*myinfo 영역 */
	.myinfo figure{
		width: 72%;
		display: inline-block;
		box-sizing: border-box;
	}

	.myinfo figure img{
		float: left;
		width: 30%;
		margin-right: 3%;
	}

	.myinfo figure figcaption{
		width: 60%;
		display: inline-block;
		margin-top: 5.7%;
	}

	.myinfo figure figcaption h2{
		font-size: 13px;
		font-weight: bold;
		color:#c20e58;
	}

	.myinfo figure figcaption p{
		font-size: 11px;
		padding: 1% 0 3%;
		line-height: 14px;
	}

	.myinfo figure figcaption p span{
		font-size: 11px;
		font-weight:bold;
	}

	.myinfo figure figcaption figure{
		padding: 0;
	}

	.myinfo figure figcaption figure img{
		width: 24px;
		height: 24px;
		float: left;
		margin: 0;
	}

	.myinfo figure figcaption figure figcaption{
		display: inline-block;
		width: 70%;
		font-size: 11px;
		font-weight: bold;
		margin-top: 6.5%;
	}

	.myinfo button{
		float: right;
		margin-top: 15.5%;
		border-radius: 5px;
		border: 0;
		outline: none;
		background-color: #231b26;
		color: #fff;
		padding: 0.5%;
		width: 28%;
		font-size: 12px;
	}

	.myinfo button a{
		font-weight: bold;
		color:#fff;
	}
/* ===== */

/*myinfo_02 영역 */
	.myinfo_02 ul{
		width: 98%;
		margin: 0 auto;
	}

	.myinfo_02 ul li{
		padding:1.5% 0;
		border-bottom: 1px solid #ededed; 
	}

	.myinfo_02 ul li span{
		width: 40%;
		font-size: 13px;
		font-weight: bold;
		display: inline-block;
		text-indent: 1.5%;
	}

	.myinfo_02 ul li p{
		font-size: 12px;
		width: 58%;
		display: inline-block;
		text-align:center;
		padding-top: 1px;
		line-height: 14px; 
	}
/* ===== */

/*reply_02 영역 */
		.reply_02 textarea{
			width: 100%;
			padding:2%;
			box-sizing: border-box;
			overflow: scroll;
			height: 65px;
			margin-top: 1.5%;
			outline: none;
			border:1px solid #ededed; 
			font-size: 11px;
			line-height: 15px;
			font-family: 'Jeju Gothic', sans-serif;
			border-radius: 0;
		}

		.reply_02 button{
			width: 15%;
			float: right;
			border:0;
			border-radius: 0;
			color:#fff;
			background-color: #231b26;
			font-family: 'Jeju Gothic', sans-serif;
			border-radius: 5px;
			padding: 1.5% 0 1%;
		}

	/*	.reply_02 ul{
			margin-top: 6%;
		}
	*/
		.reply_02 ul li{
			display: inline-block;
			width: 100%;
			padding:1.5%;
			box-sizing: border-box;
			border-bottom: 1px solid #ededed;
		}
		.reply_02 ul li div{
			word-break: break-all;
			padding-left: 3%;
			background: url(../images/temp/reply_02.png) no-repeat center left;
			font-size: 12px;
			background-size: 5%;
			padding-left:4%;
			box-sizing:border-box; 
			margin-bottom:1.5%;
		}
		.reply_02 ul li  span{
			float: right;
			font-size: 11px;
			font-weight: normal;
			width: 100%;
			text-align:right;

		}

/* ===== */

/*css 추가*/

	.agree{
		margin-bottom: 8%;
	}

	.registerform{
	width: 100%;
	}
	.registerform tr{
		border-bottom:1px solid #ededed;
	}
	.registerform tr:last-child{
		border-bottom: 0;
	}

	.registerform tr td:first-child{
		border-right: 1px solid #ededed;
		padding: 3.5% 0 2%;
		box-sizing: border-box;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		width: 30%;
		background-color: rgb(239, 208, 222);
	}


	.contents-view{
		margin-bottom: 3%;
	}

	
	/*
	.title03 {
		margin-bottom: 0;
	}
	*/

	.title03 p{
		font-size: 11px;
		font-weight: bold;
		display: inline-block;
		float: right;
		padding: 0;
		line-height: 14px;
	}

	.title03 p span{
		font-size: 13px;
		color:#c20e58;
		font-weight: bold;
	}

	.title03 h3{
		font-size: 13px;
		font-weight: bold;
		display: inline-block;
		float: left;
		text-indent: 2%;
		margin-top: 1px;
	}
	.enter{
		margin-bottom: 5%;
	}
	.enter > .id > div{
		width: 70%;
		height: 22px;
		float: right;
		position: relative;
		border:1px solid #838383;
		box-sizing: border-box;
	}

	.enter > .id > div > input{
		position: absolute;
		top: 2px;
		left: 2px;
		background-color: transparent !important;
		border-radius: 0;
		border:0;
		outline: none;
		width: 95%; 
		padding: 0
	}

	.enter figure{
		text-align: center;
	}

	.enter figure img{
		width: 20%;
	}

	.enter .id input[type="checkbox"]{
		margin: 0;
		position: absolute;
		left: 9%;
	}

	.enter .id label{
		margin: 0;
		position: absolute;
		left: 21%;
		top: 3px;
	}

	.table-bottom > button{
		border:0;
		border-radius:6px;
		background-color: #231b26;
		padding:0px 10px;
		color:#fff;
		/*width: 11%;*/
		font-size: 13px;
		font-family: 'Jeju Gothic', sans-serif;
		margin-right: 1%; 
	}

	.table-bottom > button:first-child{
		margin-right: 0;
		/*width: 20%;*/
	}

	.enter label.error{
		margin-top: 19px;
		left : 0px;
	}

	.askpassword{
		width: 70%;
		margin: 0 auto;
	}

	.document{
		width: 100%;
		height: 200px;
		border: 1px solid #ededed;
		padding:3%;
		box-sizing: border-box;
		overflow-y: scroll;
		margin-bottom: 3%; 
	}

	.document div{
		font-size: 11px;
		line-height: 13px;
	}



	.modify_01{
		height: 23px;
	}

	.modify_02{
		position: relative;
		top: -2px;
		margin-right: 2%;
		font-size: 12px;
		font-weight: bold;
	}

	.modify_03{
		margin-right: 1%;
	}

	.modify_04{
		position: relative;
		top:-2px;
	}



	.title > .main_01{
		width:90%;
	}

	.title > .main_01 tr td {
		width: 25% !important;
		padding:2% 0;
		box-sizing: border-box;
	}

	.member_01{
		width:94%;
		margin: 0 auto;
		margin-bottom: 3%;
	}

	.member_01 li{
		width: 100%;
		border: 1px solid #ededed;
		border-bottom: 0;
		height: 26px;
	}

	.member_01 li:last-child{
		border:0;
	}

	.member_01 li span{
		width: 20%;
		border-right: 1px solid #ededed;
		text-align: center;
		display: inline-block;
		padding: 2% 0;
		background-color: rgb(239, 208, 222);
		box-sizing: border-box;
		height: 26px;
	}

	.member_01 li div{
		height: 26px;
		font-size: 14px;
		padding:2% 0; 
	}

	.member_01 li:nth-child(3) div , .member_01 li:nth-child(4) div{
		padding-left:5%;
	}

	.member_01 li:nth-child(3),.member_01 li:nth-child(3) span,.member_01 li:nth-child(3) div {
		height: 110px;
	}

	.member_01 li:nth-child(3) span{
		padding: 10% 0;
		box-sizing: border-box;
	}

	.member_01 li:nth-child(4),.member_01 li:nth-child(4) span,.member_01 li:nth-child(4) div{
		height: 40px;
	}

	.member_01 li:nth-child(4) span{
		padding: 4% 0; 
	}

	.member_01 li:last-child{
		margin-top:3% !important;
		box-sizing: border-box;
	}

	.member_01 li:last-child button{
		width: 20%;
		padding:0.5%;
		text-align:center;
		outline: none;
		background-color: #231b26;
	}



	.member_01 li:nth-child(4){
		border: 1px solid #ededed;
	}


	.help_01{
		font-size: 10px!important;
	}

	.msg_content > img{
		width:40%; 
		display: block;
		margin: 0 auto;
		margin-bottom: 3%;
	}

	.final_01{
		width: 25%;
		background-color: #c20e58;
		padding:1.5% 0 1%;
		box-sizing: border-box;
		border-radius: 5px;
		outline:none;
		margin: 3% auto; 
	}

	.text_01{
		font-size: 14px !important;
		text-align:center;
		margin-bottom: 3%;
		line-height: 16px;
	}

	/*.find_btn{
		position: relative;
		top:-2px;
	}*/

	.input_01{
		margin-right: 2%;
	}

	.table-body > div > img{
		width: 40%;
		margin: 0 auto;
		display: block;
		margin-bottom:3%;
	}

	.btn-group > a{
		font-size: 11px;
		
		/*font-weight: normal;*/
	}

	#viewcomment > div > ul > li > div{
		font-size: 12px;
		word-break:break-all;
		margin-bottom: 1.5%;
	}

	#fcomment h2{
		font-size: 11px;
		font-family: 'Jeju Gothic', sans-serif;
	}

	#fcomment > div > strong > span,#fcomment > div > strong{
		font-size: 10px;
		font-weight: normal;
	}

	#fcomment{
		margin-bottom: 3%;
	}

	.reply_02 ul li  span .reply{
		display:inline-block;
		width: 50px;
	}

	.list > form > .mt10{
		margin-top: 0;
	}

	.mypage div{
		text-align: center;
	}

	.mypage div p{
		font-size: 15px;
		line-height:19px;
		margin-bottom: 3%;
	}

	.change_password{
		margin-bottom: 3%;
		border:1px solid #ededed; 
	}

	.display{
		display:inline-block;
		width: 100%;
	}

	.change_password01{
		margin-bottom:0 !important;
		border-bottom:1px solid #ededed;
		height: 40px;
	}

	.change_password01 > span{
		height: 40px;
		text-align: center !important;
		border-right: 1px solid #ededed;
		margin: 0 !important;
		padding: 4%;
		box-sizing: border-box;
		background-color: rgb(239, 208, 222);
		width: 35% !important;
	}

	.change_password01 > div{
		height: 40px;
		padding:2% 0;
		box-sizing: border-box; 
	}



























@media screen and (max-width:320px){

.enter > .id > h3{
	font-size: 11px;
}

.enter > .id{
	font-size: 11px;
}

label.text_title{
	font-size: 12px;
}

.table-bottom > button{
	font-size: 12px;
}

.write figure figcaption{
	font-size: 13px;
}

.write figure figcaption span{
	font-size: 10px;
}

	

}